/* --------------Global---------------- */
body{
    font-family: 'Nunito', sans-serif; 
}

hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1.9px 0 0 0;
}

/* --------------/Global---------------- */

/* --------------Top Header---------------- */
#top-header{
    background-color: #6b91af;
    padding-bottom: 0;
}

#phone-info img{
    padding: 5px 2px 5px 2px;
    margin: 10px 0 10px 0;
    background-color: white;
    border-radius: 100%;
    height:30px;
    width: 30px;
}

#phone-info span{
    color: white;
    padding-top: 10px;
}

#phone-info a{
    position: absolute;
    right: 0px;
    padding: 5px 10px 5px 10px;
    margin: 7px 20px 10px 0;
    color: white;
    background-color: black;
    border-radius: 2%;
}

#phone-info a:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #303030;
}


/* --------------/Top Header---------------- */

/* --------------/Navbar---------------- */

nav{
    background-color: #f5f1f0;
}

nav a{
    color: black;
    padding-right: 8px;
}

#navbar-brand{
    height: 70px;
    padding-right: 15px;
}


/* --------------/Navbar---------------- */






/* --------------Carousel---------------- */

#carousel-container{
    padding-left: 0;
    padding-right: 0;
    padding-top: 80px;
    margin-bottom: 50px;
}

#carousel-slide{
    height: 650px;
}

.carousel-caption{
    padding-bottom: 78px;
    color: #f5f1f0;
}

#carousel-container h3{
    text-decoration: underline;
}

/* --------------/Carousel---------------- */

/* --------------Footer Links---------------- */
#footer-link-div ul{
    list-style: none;
    padding: 0;
    list-style-type: none;
}
/* --------------/Footer Links---------------- */

/* --------------Media Queries---------------- */
/* Turns off effect on mobile view */
@media screen and (min-width: 989px) {
    nav a:hover{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        margin-left: 12px;
        margin-right: 12px; 
    } 
  }
/* --------------/Media Queries---------------- */