/* --------------Global---------------- */
body{
    font-family: 'Nunito', sans-serif; 
}

hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1.9px 0 0 0;
}

/* --------------/Global---------------- */

/* --------------Top Header---------------- */
#top-header{
    background-color: #6b91af;
    padding-bottom: 0;
}

#phone-info img{
    padding: 5px 2px 5px 2px;
    margin: 10px 0 10px 0;
    background-color: white;
    border-radius: 100%;
    height:30px;
    width: 30px;
}

#phone-info span{
    color: white;
    padding-top: 10px;
}

#phone-info a{
    position: absolute;
    right: 0px;
    padding: 5px 10px 5px 10px;
    margin: 7px 20px 10px 0;
    color: white;
    background-color: black;
    border-radius: 5px;
}

#phone-info a:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #303030;
}


/* --------------/Top Header---------------- */

/* --------------/Navbar---------------- */

nav{
    background-color: #f5f1f0;
    margin-bottom: 20px;
}

nav a{
    color: black;
    padding-right: 8px;
}

#navbar-brand{
    height: 70px;
    padding-right: 15px;
}


/* --------------/Navbar---------------- */






/* --------------Carousel---------------- */

#carousel-container{
    padding-left: 0;
    padding-right: 0;
    padding-top: 80px;
    margin-bottom: 50px;
}

#carousel-slide{
    height: 650px;
}

.carousel-caption{
    padding-bottom: 78px;
    color: #f5f1f0;
}

#carousel-container h3{
    text-decoration: underline;
}

/* --------------/Carousel---------------- */

/* --------------Main Content---------------- */

#main-header-div{
    margin-top: 60px;
    margin-bottom: 60px;
}

.info-box{
    background-color: #6b91af;
    font-size: 12pt;
}

.info-box h3{
    padding: 30px 50px 5px 50px;
}

.info-box p{
    padding: 0 50px 5px 50px;;
}

.info-box button{
    margin-left: 50px;
    margin-bottom: 12px;
}

.right-align{
    text-align: right;
}

.right-align button{
    margin-right: 50px;
}

#main-content-div img{
    height: 500px;
    width: 200px;
}

/* --------------/Main Content---------------- */

/* --------------Email Subscription---------------- */

#email-sub-container{
    background-color: #f7f7f7;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
}

#email-sub-header{
    background-color: white;
    padding: 25px;
}

#email-sub-header h4{
    font-size: 3rem;
    text-decoration: underline;
}

#email-sub-header p{
    opacity: 0.5;
    font-style: italic;
}

#email-sub-form{
    background-color: #e9e9e9d7;
    padding: 25px;
}

#email-sub-form button{
    float: right;
    background-color: black;
    color: white;
    border-radius: 5px;
}

#email-sub-form button:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #303030;
}

/* --------------/Email Subscription---------------- */




/* --------------Footer Links---------------- */

#footer-link-container{
    background-color: #6b91af;  
}

#footer-link-div{
    background-color: #6b91af;
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer-link-div h6, li{
    color: white;
}

#footer-link-div ul{
    list-style: none;
    padding: 0;
    list-style-type: none;
}
/* --------------/Footer Links---------------- */

/* --------------Footer---------------- */

footer{
    background-color: #303030;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer span{
    color: white;
    font-size: 10pt;
}

/* --------------/Footer---------------- */

/* --------------Media Queries---------------- */
/* Turns off effect on mobile view */
@media screen and (min-width: 989px) {
    nav a:hover{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        margin-left: 12px;
        margin-right: 12px; 
    } 
  }

  @media screen and (max-width: 991px) {
    #phone-info a{
        display: none;
    }

    .add-margin{
        margin-bottom: 30px;
    }

  }
/* --------------/Media Queries---------------- */